@model ProjetoMVC.Models.Contato

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo</h1>
    <p>Este é um projeto CRUD em MVC criado com o ASP.NET CORE.</p>
</div>

<div class="text-center">
    <a asp-action="Index" asp-controller="Contato"><input  value="Listar contatos" class="btn btn-primary"/></a>
    
</div>

